* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(95deg, yellow, orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 30px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80vw;
    margin: 20px;
}

.header,
.headerTwo,
.buttonContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0; */
}
.headerTwo {
    margin-bottom: 50px;
}
.buttonContainer{
    margin: 65px 0px 25px 0px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc(14vh + 18px);
    min-height: calc(14vh + 18px);
    font-size: 3.8rem;
}
.cell:hover {
    background-color: rgba(164, 203, 236, 0.614);
    border-radius: 2px;
}

.right{
    border-right: 2px solid black;
}
.bottom {
    border-bottom: 2px solid black;
}

button,
.reset {
    background-color: coral;
    padding: 8px;
    border-radius: 25px;
}
button:hover,
#enterP1Name:hover,
#enterP2Name:hover {
    background-color: darkgrey;
}

#p1Name,
#p2Name {
    padding: 8px;
}
#p2Score,
#p1Score {
    padding: 2px 8px;
}

.active {
    background-color: chartreuse;
    padding: 8px;
    border-radius: 25px;
}

#enterP1Name,
#enterP2Name {
    background-color: rgba(85, 105, 216, 0.913);
    color: rgb(227, 227, 227);
}